<div class="h-screen max-h-screen flex flex-col lg:grid lg:grid-cols-12">
    <div class="lg:h-full lg:max-h-screen lg:col-span-4">
        <div class="flex flex-col h-full overflow-auto">
            <div class="p-5 flex justify-center items-center" style="background-color: #0C9ADA;">
                <img src="../assets/allride_logo.svg" alt="all ride logo" />
            </div>
            <div class="p-4 h-full">
                <div>
                    <label class="block mb-2 text-lg font-bold text-gray-900 dark:text-white">Dirección</label>
                    <input (input)="onInputChange()" type="text" [(ngModel)]="address"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Escribre una dirección para agregar al mapa" />
                    <div *ngIf="address && !results && !loadingGeocoder"
                        class="mt-2 text-sm text-gray-500 dark:text-gray-400">
                        No se encontraron resultados
                    </div>
                    <div *ngIf="address && loadingGeocoder" class="mt-2 text-sm text-gray-500 dark:text-gray-400">
                        Buscando resultados...
                    </div>
                </div>
                <div class="mt-3">
                    <div *ngFor="let result of results">
                        <button type="button"
                            class=" text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 hover:scale-105 transform duration-300 ease-in-out"
                            style="background-color: #0C9ADA;" (click)="onSelectAddress(result)">
                            {{result.formatted_address}}
                        </button>
                    </div>
                </div>
                <div class="lg:max-h-full">
                    <h2 class="text-lg">Ubicaciones conocidas</h2>
                    <div *ngFor="let marker of markers" class="mt-3">
                        <div
                            class="flex flex-col lg:flex-row justify-between border-2 border-solid border-gray-300 p-4 rounded-lg">
                            <div>
                                <p class="font-bold">{{marker.address}}</p>
                                <p>Latitud: {{marker.lat}}</p>
                                <p>Longitud: {{marker.lng}}</p>
                            </div>
                            <button
                                class="self-end focus:outline-none text-white focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5"
                                style="background-color: #0C9ADA;" (click)="goToLocation(marker)">
                                Ir a la ubicación
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="box-shadow: -7px 2px 11px 0px rgba(0,0,0,0.10);" class="max-h-screen h-full grow lg:col-span-8">
        <app-map [markers]="markers" [center]="center" [zoom]="zoom"></app-map>
    </div>
</div>